.wrap {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 3px 1px rgb(20, 20, 20);
  z-index: 10000;
  opacity: 0.9;
  color: white;
}

.text,
.button {
  padding: 10px;
  display: inline-block;
}

.button {
  font-weight: bold;
  background-color: rgb(252,0,0);
  color: white;
  cursor: pointer;
  border: 0;
  font-size: 15px;
  height: 39px;
  &:hover {
    background-color: darken(#fc0000, 20%);
  }
}
