&.game-icon {
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 300px;
  &.uk { background-image: url("#{$shared}icons/uk.png"); }
  &.dt2 { background-image: url("#{$shared}icons/dt2.png"); }
  &.dt1 { background-image: url("#{$shared}icons/dt1.png"); }
  &.sgdz { background-image: url("#{$shared}icons/sgdz.png"); }
  &.monzo { background-image: url("#{$shared}icons/monzo.png"); }

  &.small {
    width: 50px;
    height: 50px;
    &.uk { background-image: url("#{$shared}icons/uk_small.png"); }
    &.dt2 { background-image: url("#{$shared}icons/dt2_small.png"); }
    &.dt1 { background-image: url("#{$shared}icons/dt1_small.png"); }
    &.sgdz { background-image: url("#{$shared}icons/sgdz_small.png"); }
    &.monzo { background-image: url("#{$shared}icons/monzo_small.png"); }
    &.legends { background-image: url("#{$shared}icons/legends_small.png"); }
  }
}
