&.links {
  background-repeat: no-repeat;
  background-size: contain;

  &.web {

    &.uk {
      background-image: url('#{$shared}logos/unkilled_tiny.png');
      height: 60px;
      width: 160px;
      &.black {
        background-image: url('#{$shared}logos/unkilled_tiny_black.png');
      }
      &.medium {
        background-image: url('#{$shared}logos/unkilled_small-mid.png');
        height: 91px;
        width: 250px;
        &.black {
          background-image: url('#{$shared}logos/unkilled_small-mid_black.png');
        }
      }
    }

    &.dt2 {
      background-image: url('#{$shared}logos/deadtrigger2_small.png');
      height: 120px;
      width: 200px;
    }

    &.monzo {
      background-image: url('#{$shared}logos/monzo_small.png');
      height: 99px;
      width: 160px;
    }

    &.sgdz {
      background-image: url('#{$shared}logos/shadowgundeadzone_small.png');
      height: 100px;
      width: 200px;
    }

    &.legends {
      background-image: url('#{$shared}logos/shadowgunlegends_small.png');
      height: 90px;
      width: 200px;
      &.big {
        height: 140px;
        width: 240px;
      }
    }
  }

  &.login-fb {
    background-image: url('#{$shared}facebook-login-big.png');
    height: 50px;
    width: 258px;
    background-size: cover;
    background-position: 0 0;
    &:hover, &:active {
      background-position: 0 -50px;
    }
  }

  &.logout-fb {
    background-image: url('#{$shared}facebook-logout.png');
    height: 50px;
    width: 166px;
    background-size: cover;
    background-position: 0 0;
    &:hover, &:active {
      background-position: 0 -50px;
    }
  }

  &.oculus, &.gearvr {
    background-size: contain;
    width: 125px;
    height: 56px;

    &.gearvr { background-image: url('#{$shared}stores/gearvr_small.png'); }
    &.oculus { background-image: url('#{$shared}stores/oculus_small.png'); }

    &.medium {
      width: 175px;
      height: 78px;
      &.gearvr { background-image: url('#{$shared}stores/gearvr_middle.png'); }
      &.oculus { background-image: url('#{$shared}stores/oculus_middle.png'); }
    }
  }

  &.gplay, &.appstore {
    background-size: contain;
    width: 125px;
    height: 37px;

    &.gplay { background-image: url('#{$shared}stores/gplay_smallish.png'); }
    &.appstore { background-image: url('#{$shared}stores/appstore_smallish.png'); }

    &.medium {
      width: 250px;
      height: 74px;
      &.gplay { background-image: url('#{$shared}stores/gplay_middle.png'); }
      &.appstore { background-image: url('#{$shared}stores/appstore_middle.png'); }
    }
  }

  &.facebook {
    background-image: url('#{$shared}stores/facebook_small.png');
    background-size: contain;
    width: 121px;
    height: 37px;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 5px;
  }

  &.amazon {
    background-image: url('#{$shared}stores/amazon_small.png');
    background-size: contain;
    width: 121px;
    height: 37px;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 5px;
  }

  &.mac {
    background-image: url('#{$shared}stores/macstore_small.png');
    background-size: contain;
    width: 155px;
    height: 37px;
  }

  &.windows {
    background-image: url('#{$shared}stores/windows_smallish.png');
    background-size: contain;
    width: 121px;
    height: 37px;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 5px;
  }
}
