&.logo {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;

  &.deadtrigger2 {
    background-image: url("#{$shared}logos/deadtrigger2_big.png");
    max-width: 253px;
    height: 277px;
    &.small {
      max-width: 126px;
      height: 138px;
    }
  }

  &.legends,
  &.shadowgunlegends {
    background-image: url("#{$shared}logos/shadowgunlegends_normal.png");
    max-width: 450px;
    padding-top: 58%;
    &.big {
      background-image: url("#{$shared}logos/shadowgunlegends_big.png");
      max-width: 600px;
    }
  }

  &.unkilled {
    background-image: url("#{$shared}logos/unkilled_big.png");
    max-width: 600px;
    padding-top: 37%;
  }

  &.deadtrigger {
    background-image: url("#{$shared}logos/deadtrigger_big.png");
    max-width: 329px;
    padding-top: 94%;
  }

  &.monzo {
    background-image: url("#{$shared}logos/monzo_big.png");
    max-width: 484px;
    padding-top: 66%;
    &.flat {
      background-image: url("#{$shared}logos/monzo_flat_middle.png");
      max-width: 300px;
      padding-top: 48.5%;
    }
  }

  &.monzovr {
    background-image: url("#{$shared}logos/monzovr_big.png");
    max-width: 270px;
    padding-top: 27.7%;
  }

  &.deadzone,
  &.shadowgundeadzone {
    background-image: url("#{$shared}logos/shadowgundeadzone_big.png");
    max-width: 625px;
    padding-top: 33.6%;
  }

  &.shadowgun {
    background-image: url("#{$shared}logos/shadowgun_big.png");
    max-width: 583px;
    padding-top: 22.4%;
  }

  &.samurai2,
  &.samuraiiivengeance {
    background-image: url("#{$shared}logos/samuraiiivengeance_big.png");
    max-width: 570px;
    padding-top: 65%;
  }

  &.samurai1 {
    background-image: url("#{$shared}logos/samurai1_big.png");
    max-width: 576px;
    padding-top: 28%;
  }

  &.samuraidojo {
    background-image: url("#{$shared}logos/samuraidojo_big.png");
    max-width: 576px;
    padding-top: 59%;
  }

  &.bloodyxmas {
    background-image: url("#{$shared}logos/bloodyxmas_big.png");
    max-width: 649px;
    padding-top: 22%;
  }
}
