$url: "#{$shared}logos/";

&.mfg-logo {
    background-repeat: no-repeat;
    background-size: contain;

  &.inline {
    background-image: url("#{$url}mfg_logo_inline.png");
    width: 174px;
    height: 16px;
  }

  &.full {
    background-image: url('#{$shared}mfg_logo_black.png');
    &.small {
      width: 160px;
      height: 46px;
    }
    &.white {
      background-image: url('#{$shared}logos/mfg_logo_small.png');
      width: 100px;
      height: 30px;
    }
  }

  &.small {
    background-image: url("#{$url}mfg_logo_mid_small.png");
    width: 151px;
    height: 44px;
  }

  &.medium {
    background-image: url("#{$url}mfg_logo_mid_small.png");
    width: 204px;
    height: 59px;
  }

  &.black {
    background-image: url("#{$url}mfg_logo_black.png");
    width: 160px;
    height: 46px;
  }

  &.halloween {
    background-image: url("#{$url}mfg_halloween_logo_small.png");
    width: 150px;
    height: 59px;
  }

  &.head {
    background-image: url("#{$url}mfg_head_white.png");
    width: 119px;
    height: 160px;
    &.smallest {
      background-image: url('#{$url}mfg_head_white_tiny.png');
      width: 19px;
      height: 25px;
    }
    &.small {
      background-image: url("#{$url}mfg_head_white_small.png");
      width: 56px;
      height: 75px;
    }
    &.medium {
      background-image: url('#{$shared}mfg_head_white.png');
      width: 119px;
      height: 160px;
    }
    &.tiny {
      background-image: url("#{$url}mfg_head_white_small.png");
      width: 30px;
      height: 40px;
    }
  }
}
