&.misc {

  &.apple {
    background-image: url("#{$shared}misc/apple_final.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 42px;
    height: 49px;
    &:hover {
      background-position: -42px 0;
    }
  }

  &.google {
    background-image: url("#{$shared}misc/google_final.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 131px;
    height: 43px;
    &:hover {
      background-position: -131px 0;
    }
    &.bw {
      background-image: url("#{$shared}misc/google_bw.png");
    }
  }

  &.free-to-play {
    background-image: url("#{$shared}misc/free-to-play.png");
    background-repeat: no-repeat;
    width: 301px;
    height: 54px;
  }
}
