$url1: "#{$shared}buttons/store/";
$url2: "#{$shared}buttons/store2/";

&.store-legacy {
  width: 147px;
  height: 55px;
  background-position: 0 55px;
  &:hover {
    background-position: 0 -1px;
  }
  &.gplay, &.android {background-image: url("#{$url1}gplay.png")}
  &.itunes, &.ios {background-image: url("#{$url1}itunes.png")}
  &.mac {background-image: url("#{$url1}mac.png")}
  &.windows {background-image: url("#{$url1}windows.png")}
  &.facebook {background-image: url("#{$url1}facebook.png")}
  &.amazon {background-image: url("#{$url1}amazon.png")}

}

&.store-legacy-2 {
  width: 149px;
  height: 57px;
  &.gplay, &.android {background-image: url("#{$url2}gplay.png")}
  &.itunes, &.ios {background-image: url("#{$url2}appstore.png")}
  &.mac {background-image: url("#{$url2}mac.png")}
  &.amazon {background-image: url("#{$url2}amazon.png")}
}
