.banner--wrap {
  z-index: 5;
  width: 100%;
  max-width: 100%;
}

.banner {
  font-size: 0;
  width: 100%;
  background-size: cover;
  background-position: center top;
  padding-bottom: 31.35%;
  @media ($bp-desktop) {
    padding-bottom: 16.58%;
  }
}
