.btn {
  cursor: pointer;
  transition: all .1s ease;
  display: inline-block;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  // height: 100%;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.media {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
  &.center {
    align-items: center;
  }
  &.reverse {
    .figure {
      margin: 0 0 0 1em;
      order: 1;
    }
  }
  .figure {
    margin-right: 1em;
  }
  .body {
    flex: 1;
    margin-bottom: 0;
  }
  .title {
    margin: 0 0 .5em;
  }
}

.modal {
  position: fixed;
  left: 5%;
  top: 5%;
  // transform: translate(-50%, -50%);
  background: black;
  width: 90%;
  height: 90%;
  box-shadow: 0 0 50px 5px rgb(20, 20, 20);
  z-index: 10000;
}

.modal__close {
  position: absolute;
  color: white;
  right: -3%;
  top: 0;
  font-size: 30px;
  background: transparent;
  border: none;
}
