// TODO: fallback justify-content: space-between && centering when in column direction

.flex {
  display: flex;
  &.wrap {
    flex-wrap: wrap;
  }
  &.column {
    flex-direction: column;
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.vcenter {
    align-items: center;
  }
  &.hcenter {
    justify-content: center;
  }
  &.space-around {
    justify-content: space-around;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.align-right {
    justify-content: flex-end;
  }

  @media($bp-tablet) {
    &.column--tablet {
      flex-direction: column;
    }
  }
}

html {
  &.no-flexbox {
    .flex {
      display: block;
      & > * {
        display: inline-block;
      }
      &.space-around {
        text-align: center;
      }
      &.column, &.wrap {
        & > * {
          display: block;
        }
      }
      &.center {
        text-align: center;
        & > * {
          vertical-align: middle;
        }
      }
      &.hcenter {
        text-align: center;
      }
      &.vcenter {
        & > * {
          vertical-align: middle;
        }
      }
    }
  }
  &.no-flexwrap,
  &.safari8 {
    .flex {
      &.wrap {
        & > * {
          display: inline-block;
        }
      }
    }
  }
}
