html {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

body {
  line-height: 1.6;
  font-weight: 300;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  height: 100%;
  width: 100%;
  .main {
    // animation-delay: .3s;
    animation-duration: .2s;
    height: 100%;
    width: 100%;
    &.locale-fetching {
      opacity: 0;
    }
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

* {
  // disable blinking when clicking on links
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, *::after, *::before {
  box-sizing: border-box;
}

*.disabled {
  pointer-events: none;
  opacity: .5;
}

.svg-inline--fa {
  font-size: 28px;
  cursor: pointer;

  &.margin-right {
    margin-right: 5px;
  }
  &.margin-right-big {
    margin-right: 20px;
  }
}

*.animated {
  animation-duration: .2s;
}

*.fadeIn {
  animation-duration: .5s;
}

*.bold {
  font-weight: bold;
}
