// old utils, shouldn't be used anymore as the naming & styling sucks
// TODO: refactor code and delete these

*.desktop,
*.not-tablet,
*.not-mobile {
  &, &.flex {
    display: none !important;
  }
}

*.device,
*.tablet,
*.mobile,
*.not-desktop {
  display: block !important;
  &.flex {
    display: flex !important;
  }
}

@media ($bp-phablet) {
  *.mobile {
    &, &.flex {
      display: none !important;
    }
  }
  *.not-mobile {
    display: block !important;
    &.flex {
      display: flex !important;
    }
  }
}

@media ($bp-tablet) {
  *.tablet,
  *.tablet.flex {
    display: none !important;
  }
  *.not-tablet {
    display: block !important;
    &.flex {
      display: flex !important;
    }
  }
}

@media ($bp-desktop) {
  *.not-desktop,
  *.device {
    &, &.flex {
      display: none !important;
    }
  }
  *.desktop {
    display: block !important;
    &.flex {
      display: flex !important;
    }
  }
}
