// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints Mobile first
$bp-mobile    : "min-width: 400px" !default;
$bp-phablet   : "min-width: 550px" !default;
$bp-tablet    : "min-width: 750px" !default;
$bp-desktop   : "min-width: 1000px" !default;
$bp-desktophd : "min-width: 1200px" !default;
$bp-ultrahd   : "min-width: 1400px" !default;

// Breakpoints Desktop First
$max-desktophd : "max-width: 1200px" !default;
$max-desktop   : "max-width: 1000px" !default;
$max-tablet   : "max-width: 800px" !default;
$max-phablet   : "max-width: 550px" !default;
$max-mobile    : "max-width: 400px" !default;

// Paths
$gcs: "//storage.googleapis.com/mfg-home/";
$cdn: "https://e4r8s2u5.map2.ssl.hwcdn.net/";
$base_url: $cdn;
// $base_url: "/cdn/";
$shared: "#{$base_url}shared/";

// Colors
$deepblue: #000a22;
$gray: #58595a;

@mixin animation($name, $param, $start, $end, $options) {
    @-webkit-keyframes #{$name} {
      0% {
        #{$param}: #{$start}
      }
      100% {
        #{$param}: #{$end}
      }
    }
    @keyframes #{$name} {
      0% {
        #{$param}: #{$start}
      }
      100% {
        #{$param}: #{$end}
      }
    }
  -webkit-animation: #{$name $options};
  animation: #{$name $options};
}

@mixin unselectable() {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
